# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Data folders
data/
orga/
figs/
test/
res/


# VSCode settings (optional)
.vscode/
