# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.toml

# Virtual environment
.venv/
env/
venv/

# Data folders
data/
orga/
figs/
test/
res/
logs/


# VSCode settings (optional)
.vscode/
